body {
    background: rgb(228, 169, 169);
    margin-left: 150px;
    margin-right: 150px;
}

header{
    margin-top: 50px;
}

h1 {
    font-family: fantasy;
    color: blue;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

.img_padrao{
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
    width: 300px;
}

.img_icons{
    width: 30px;
}

footer{
    margin-bottom: 50px;
}

